In [62]:
import os
import pandas as pd
import plotly.express as px
import progressbar
import json
import numpy as np
import nltk
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from functions import open_product_zip_file, files_to_df_extended, delete_empty_rows
from functions import remove_punctuations, extract_most_similar
from nltk.tokenize import word_tokenize
pd.set_option('display.max_colwidth', None)

## Get the paths and build table names for iteration

In [10]:
data_path = '../src/data'
mapping_corpus_path = data_path + r'/product/lspc2020_to_tablecorpus'
mapping_corpus_path_2 = data_path + r'/product/lspc2020_to_tablecorpus/Cleaned'
table_corpus_path = data_path + r'/product/product_top100/cleaned'
table_corpus_path_with_id = data_path + r'/product/product_top100/cleaned/with_id'
table_corpus_path2 = data_path + r'/product/product_minimum3/cleaned/with_id'

In [11]:
zip_files_mapping = [file for file in os.listdir(mapping_corpus_path_2) if file.endswith('.json.gz')]
zip_files_tables = [file for file in os.listdir(table_corpus_path) if file.endswith('.json.gz')]

## Match the number dictionaries with the information about the brand

In [12]:
df_joined_electronics = pd.read_json(os.path.join(mapping_corpus_path_2, 'joined_electronics'), compression='gzip', orient='records', lines=True)

In [114]:
df_joined_clothes = pd.read_json(os.path.join(mapping_corpus_path_2, 'joined_clothes'), compression='gzip', orient='records', lines=True)

In [15]:
# df_tables_count=df_join.groupby('cluster_id').count()
# df_tables_count[df_tables_count['brand']>2]

## Get information about electronic clusters and train model

In [16]:
df_grouped_electronics = df_joined_electronics.groupby('cluster_id').count()
# only look at clusters that have at least one brand associated
df_set_electronics = df_grouped_electronics[df_grouped_electronics['brand']>0].reset_index()[['cluster_id','table_id']].rename(columns={'table_id':'Amount'})

In [18]:
# We discard all clusters with less than 2 entries, cause we cannot match anything there, so 1,6 million clusters remain
df_set_electronics=df_set_electronics[df_set_electronics['Amount']>1]
df_15_electronics=df_set_electronics[df_set_electronics['Amount']>15]
df_15_electronics

        cluster_id  Amount
0              419       6
3              968       4
4              985      14
5              997       3
6             1040      21
...            ...     ...
104491    80393061       2
104517    80418008       3
104529    80434638       4
104532    80436986       2
104572    80469264       3

[13943 rows x 2 columns]

In [89]:
#merge brand name to cluster amount
df_cluster_brand = df_15_electronics[df_15_electronics['Amount']<200].merge(df_joined_electronics.dropna()[['cluster_id','brand']].drop_duplicates('cluster_id', keep='last'), left_on=['cluster_id'], right_on = ['cluster_id'], how='left')
df_cluster_brand

     cluster_id  Amount    brand
0          1040      21    nikon
1          6076      19    canon
2          6443      25    canon
3          6505      16    apple
4          6690      20    cisco
..          ...     ...      ...
326    76869317      60  samsung
327    78260404      80  samsung
328    79512161      16   xiaomi
329    80097153      60  samsung
330    80097161      37  samsung

[331 rows x 3 columns]

In [229]:
df_joined_electronics[df_joined_electronics['cluster_id']==9046]

,cluster_id,url,row_id,table_id,Valid,brand,product_name
3588418,9046,https://www.bevmo.com/shop/wine/dessert_sherry_and_port/port/warre_s_otima_10_year_tawny_port_500_ml/p/1564405684704479965,6535,Product_bevmo.com_September2020.json.gz,1,None,1564405684704479965
3735570,9046,https://www.cclonline.com/product/250247/YD260XBCAFBOX/CPU-Processors/AMD-2nd-Gen-Ryzen-5-2600X-3-6GHz-Processor-16MB-L3-Cache-with-Wraith-Spire-Boxed-/CPU0538,996,Product_cclonline.com_September2020.json.gz,1,None,cpu0538
5247552,9046,https://www.scan.co.uk/products/amd-ryzen-5-2600x-am4-zenplus-6-core-12-thread-36ghz-425ghz-turbo-19mb-cache-95w-cpu-retail-plus-wra,3658,Product_scan.co.uk_September2020.json.gz,1,amd,amd ryzen 5 2600x am4 zenplus 6 core 12 thread 36ghz 425ghz turbo 19mb cache 95w cpu retail plus wra
6831661,9046,https://www.informaticamurciapc.com/procesadores/4004-cpu-amd-ryzen-5-2600x-am4-0730143309226.html,231,Product_informaticamurciapc.com_September2020.json.gz,1,None,4004 cpu amd ryzen 5 2600x am4 0730143309226
6958564,9046,https://www.njwineseller.com/products/13267950/warre-s-otima-tawny-port-10-year-old,461,Product_njwineseller.com_September2020.json.gz,1,None,warre s otima tawny port 10 year old
7888890,9046,https://www.bedertec.com.ar/prod/90-ryzen-5-2600x,110,Product_bedertec.com.ar_September2020.json.gz,1,None,90 ryzen 5 2600x
8183469,9046,https://samspc.com/products/amd-ryzen,163,Product_samspc.com_September2020.json.gz,1,None,amd ryzen
8385143,9046,https://www.bottleshop.com/products/3338608/warre-s-otima-tawny-port-10-year-old,592,Product_bottleshop.com_September2020.json.gz,1,None,warre s otima tawny port 10 year old
8666806,9046,https://www.minipriceexpress.com/informatica/procesadores/procesador-amd-ryzen-5-2600x-425ghz-am4/172199/0,152,Product_minipriceexpress.com_September2020.json.gz,1,None,0
8671708,9046,https://www.bustersliquors.com/products/10089069/warre-s-otima-tawny-port-10-year-old,2322,Product_bustersliquors.com_September2020.json.gz,1,None,warre s otima tawny port 10 year old
13716396,9046,https://www.outletpc.com/if6784-amd-ryzen-5-2600x-6-core-am4-processor.html,777,Product_outletpc.com_September2020.json.gz,1,None,if6784 amd ryzen 5 2600x 6 core am4 processor
14914111,9046,https://www.grosbill.com/4-amd_ryzen_5_2600x-740600-informatique-processeur_overclokable,2167,Product_grosbill.com_September2020.json.gz,1,None,4 amd_ryzen_5_2600x 740600 informatique processeur_overclokable
16810842,9046,https://www.choicecomputertechnologies.com/AMD-CPU-RYZEN-5-2600X,325,Product_choicecomputertechnologies.com_September2020.json.gz,1,None,amd cpu ryzen 5 2600x
18657733,9046,https://koletic.com/Procesor-AMD-Ryzen-5-2600X-YD260XBCAFBOX-3600-MHz-min-4200-MHz-max-AM4-BOX-p83844,473,Product_koletic.com_September2020.json.gz,1,None,procesor amd ryzen 5 2600x yd260xbcafbox 3600 mhz min 4200 mhz max am4 box p83844
19240883,9046,https://www.altex.com/amd-ryzen-5-2600x,805,Product_altex.com_September2020.json.gz,1,None,amd ryzen 5 2600x
19923922,9046,https://www.ciapc.com.br/processador-amd-ryzen-5-2600x-36ghz-19mb-socket-am4,172,Product_ciapc.com.br_September2020.json.gz,1,None,processador amd ryzen 5 2600x 36ghz 19mb socket am4
20141397,9046,https://www.dealsaday.com/amd-ryzen-5-2600x-3-6-ghz-six-core-am4-processor-yd260xbcafbox.html,98,Product_dealsaday.com_September2020.json.gz,1,amd,amd ryzen 5 2600x 3 6 ghz six core am4 processor yd260xbcafbox
20892072,9046,https://www.opirata.com/p/procesador-amd-ryzen-5-2600x-4-2ghz-16mb-am4,683,Product_opirata.com_September2020.json.gz,1,None,procesador amd ryzen 5 2600x 4 2ghz 16mb am4
21088090,9046,https://www.materiel.net/produit/201803050084.html,1915,Product_materiel.net_September2020.json.gz,1,None,201803050084
21421852,9046,https://www.teknolojipazar.com/amd-ryzen-5-2600x-42-ghz-16mb-am4-95w,677,Product_teknolojipazar.com_September2020.json.gz,1,None,amd ryzen 5 2600x 42 ghz 16mb am4 95w
23947079,9046,https://www.genaybilgisayar.com/amd-yd260xbcafbox-ryzen-5-2600x-sc-am4-36ghz-16mb-95w-amd-cpu-pmu1563,669,Product_genaybilgisayar.com_September2020.json.gz,1,None,amd yd260xbcafbox ryzen 5 2600x sc am4 36ghz 16mb 95w amd cpu pmu1563

In [23]:
#get a new column with the product names from the url
df_joined_electronics['product_name'] = df_joined_electronics['url'].apply(lambda row: row.split("/")[-1])
#clean product column and lowercase
df_joined_electronics['product_name'] = df_joined_electronics['product_name'].str.replace('+',' ').str.replace('-',' ').str.replace('.html', '').apply(lambda row: row.lower())
df_joined_electronics
#get only cluster ids with at least one brand electronics
df_compare_electronics = df_joined_electronics[df_joined_electronics['cluster_id'].isin(df_set_electronics['cluster_id'].tolist())]
#merge with set to get amount of tables per cluster in overview
df_compare_electronics = df_compare_electronics.merge(df_set_electronics, left_on=['cluster_id'], right_on = ['cluster_id'], how='left')

In [115]:
#use tokenizer for product names to get tokes for training the model
df_compare_electronics['product_tokes'] = df_compare_electronics['product_name'].apply(lambda row: word_tokenize(row))
#get tagged words
tagged_data = [TaggedDocument(words=_d, tags=[str(i)]) for i, _d in enumerate(df_compare_electronics['product_tokes'])]
# build model and vocabulary
model = Doc2Vec(vector_size=50, min_count = 5, epochs = 25, dm = 0)
model.build_vocab(tagged_data)
# Train model
model.train(tagged_data, total_examples=model.corpus_count, epochs=25)

In [142]:
# # get top5 similar entities of tag 'xxx'
# print(tagged_data[772])
# similar_doc = model.docvecs.most_similar('772', topn = 15)

# similar_doc

In [143]:
# index_list = []
# for index, similarity in similar_doc:
#     index = int(index)
#     index_list.append(index)
# df_compare_electronics.iloc[index_list]
#cluster: 47566,39040,197396,1850486,266916

In [ ]:
#get cluster ids and with that indices of top products to use model
top_clusters_list = [1524820,47566,6076,6505,6690,9046,14418,28307,33570,39040,51314,99153,59744,153965,215254,685416, 740038, 984421 , 1874288,1808651,2887810,4044656,5327857, 22374889,34506065,47841827 ]
index_top_clusters_list=[]
for id in top_clusters_list:
    index_top_clusters_list.append(df_compare_electronics[df_compare_electronics['cluster_id']==id].index[0])

In [225]:
# get most similar products for each of the base clusters and save them if they have more than ten tables
electronics_clusters_search=[]
for i in index_top_clusters_list:
    similar_doc = model.docvecs.most_similar(f'{i}', topn = 15)
    electronics_clusters_search.append(int(i))
    for index, similarity in similar_doc:
        if df_compare_electronics.iloc[int(index)]['Amount']>5:
            electronics_clusters_search.append(int(index))
df_electroncis_final = df_compare_electronics.iloc[electronics_clusters_search]

<ipython-input-225-4db22a482f92>:4: DeprecationWarning: Call to deprecated `docvecs` (The `docvecs` property has been renamed `dv`.).
  similar_doc = model.docvecs.most_similar(f'{i}', topn = 15)

,cluster_id,url,row_id,table_id,Valid,brand,product_name,product_tokes,Amount
1081,1524820,https://www.sophiesclass.com/product/sony-a7-iii-full-frame-mirrorless-interchangeable-lens-camera-optical-with-3-inch-lcd-black-ilce7m3-b,964,Product_sophiesclass.com_September2020.json.gz,1,sony,sony a7 iii full frame mirrorless interchangeable lens camera optical with 3 inch lcd black ilce7m3 b,"[sony, a7, iii, full, frame, mirrorless, interchangeable, lens, camera, optical, with, 3, inch, lcd, black, ilce7m3, b]",95
26842,3078421,https://cameramall.com/products/alpha-a6100-mirrorless-camera-with-16-50mm-lens-black,302,Product_cameramall.com_September2020.json.gz,1,None,alpha a6100 mirrorless camera with 16 50mm lens black,"[alpha, a6100, mirrorless, camera, with, 16, 50mm, lens, black]",14
36212,1112064,https://www.pictureline.com/products/sony-alpha-a6300-mirrorless-digital-camera-with-16-50mm-lens,1703,Product_pictureline.com_September2020.json.gz,1,None,sony alpha a6300 mirrorless digital camera with 16 50mm lens,"[sony, alpha, a6300, mirrorless, digital, camera, with, 16, 50mm, lens]",6
15713,3078421,https://camerashopmuskegon.com/products/sony-alpha-a6100-mirrorless-camera-with-16-50mm-lens-black,193,Product_camerashopmuskegon.com_September2020.json.gz,1,None,sony alpha a6100 mirrorless camera with 16 50mm lens black,"[sony, alpha, a6100, mirrorless, camera, with, 16, 50mm, lens, black]",14
13716,1112064,https://avcstore.com/products/sony-alpha-a6300-mirrorless-digital-camera-with-16-50mm-lens-black,622,Product_avcstore.com_September2020.json.gz,1,sony,sony alpha a6300 mirrorless digital camera with 16 50mm lens black,"[sony, alpha, a6300, mirrorless, digital, camera, with, 16, 50mm, lens, black]",6
...,...,...,...,...,...,...,...,...,...
58627,589089,https://www.ebuyer.com/911683-xiaomi-mi-smart-band-4-mgw4052gl,3600,Product_ebuyer.com_September2020.json.gz,1,None,911683 xiaomi mi smart band 4 mgw4052gl,"[911683, xiaomi, mi, smart, band, 4, mgw4052gl]",9
56743,47841827,https://www.jumaikhemweb.com/product/xiaomi-mi-band-4-waterproof-smart-fitness-tracker,57,Product_jumaikhemweb.com_September2020.json.gz,1,xiaomi,xiaomi mi band 4 waterproof smart fitness tracker,"[xiaomi, mi, band, 4, waterproof, smart, fitness, tracker]",18
48614,1089851,https://www.opirata.com/p/bascula-inteligente-xiaomi-mi-smart-scale-2,1421,Product_opirata.com_September2020.json.gz,1,None,bascula inteligente xiaomi mi smart scale 2,"[bascula, inteligente, xiaomi, mi, smart, scale, 2]",8
40035,2148094,https://www.madridgadgetstore.com/en/xiaomi/5415000-xiaomi-mi-smart-band-5-activity-bracelet.html,25,Product_madridgadgetstore.com_September2020.json.gz,1,None,5415000 xiaomi mi smart band 5 activity bracelet,"[5415000, xiaomi, mi, smart, band, 5, activity, bracelet]",9
38978,1089851,https://www.teknostore.com/xiaomi-mi-smart-scale-2-akilli-tarti,90,Product_teknostore.com_September2020.json.gz,1,xiaomi,xiaomi mi smart scale 2 akilli tarti,"[xiaomi, mi, smart, scale, 2, akilli, tarti]",8

In [228]:
df_electroncis_final.drop_duplicates('cluster_id', keep='first').to_excel("Final_Electronics.xlsx")

## Cluster statistics for product category clothes

In [25]:
df_grouped_clothes = df_joined_clothes.groupby('cluster_id').count()

In [65]:
# only look at clusters that have at least one brand associated
df_set_clothes = df_grouped_clothes[df_grouped_clothes['brand']>0].reset_index()[['cluster_id','table_id']].rename(columns={'table_id':'Amount'})

[560,
 1507,
 2420,
 2523,
 2663,
 2883,
 3048,
 3297,
 4231,
 4455,
 4497,
 5310,
 5382,
 5875,
 6340,
 6820,
 6913,
 7410,
 7715,
 7827,
 8176,
 8248,
 8261,
 8465,
 8492,
 8677,
 9667,
 10169,
 10432,
 11188,
 12068,
 12135,
 12615,
 13540,
 13678,
 13754,
 13807,
 13998,
 14463,
 14525,
 14595,
 15556,
 15616,
 15679,
 15696,
 16419,
 16543,
 16573,
 17233,
 17556,
 17624,
 17795,
 18030,
 18040,
 18304,
 18399,
 18661,
 18833,
 19118,
 19580,
 19623,
 20153,
 20224,
 20349,
 20622,
 20673,
 20689,
 21026,
 21775,
 22383,
 22551,
 22679,
 22865,
 23110,
 23617,
 23765,
 23995,
 24165,
 24378,
 24439,
 24894,
 25377,
 25486,
 25929,
 26237,
 26436,
 27007,
 27135,
 27137,
 27326,
 28368,
 28393,
 28605,
 29806,
 30634,
 31018,
 31090,
 31257,
 31305,
 31974,
 32267,
 33027,
 33200,
 33256,
 33559,
 33621,
 34157,
 34168,
 34213,
 34410,
 34845,
 34963,
 35217,
 35345,
 35357,
 35996,
 36121,
 36338,
 36709,
 36914,
 36985,
 37199,
 37402,
 38670,
 39407,
 39582,
 39852,
 40024,
 40174,
 40290,
 40373,
 40390,
 40487,
 40515,
 40711,
 41513,
 41938,
 42118,
 42199,
 42278,
 42414,
 42697,
 42988,
 43329,
 43345,
 43758,
 43771,
 44304,
 44777,
 44961,
 44981,
 45205,
 45230,
 45415,
 45448,
 45745,
 46372,
 46728,
 47246,
 47457,
 48519,
 48617,
 48660,
 49076,
 49281,
 49712,
 49733,
 49953,
 50129,
 51310,
 52416,
 52573,
 52701,
 52738,
 53723,
 53871,
 54113,
 54201,
 54285,
 55786,
 56078,
 57627,
 57830,
 58043,
 58188,
 58254,
 58328,
 58441,
 58468,
 58531,
 58577,
 58593,
 59034,
 59076,
 59345,
 59613,
 60030,
 60541,
 60839,
 61642,
 62014,
 62446,
 62876,
 63305,
 63330,
 63446,
 63481,
 64070,
 64720,
 66236,
 66604,
 66723,
 67837,
 68421,
 68572,
 68928,
 69514,
 70332,
 70590,
 71709,
 71808,
 72374,
 72813,
 72906,
 72978,
 73104,
 73225,
 73332,
 73392,
 73407,
 73455,
 73694,
 73938,
 74476,
 74782,
 75180,
 75533,
 75862,
 76736,
 77317,
 77713,
 77750,
 78504,
 78627,
 78686,
 79025,
 79412,
 79538,
 79881,
 80065,
 80367,
 80908,
 81451,
 81516,
 81584,
 82025,
 82905,
 82943,
 83069,
 83593,
 83642,
 84380,
 84713,
 84991,
 85625,
 85854,
 86226,
 86831,
 87207,
 87456,
 87507,
 87858,
 88521,
 89235,
 89514,
 89690,
 89918,
 89948,
 90467,
 90549,
 90634,
 90828,
 91311,
 91531,
 91760,
 91877,
 91978,
 92944,
 93142,
 93652,
 93733,
 93757,
 93834,
 93928,
 93950,
 94211,
 94855,
 95031,
 95441,
 95812,
 95899,
 96331,
 96858,
 96946,
 97281,
 97387,
 99623,
 99976,
 99998,
 100008,
 100264,
 100399,
 100859,
 101278,
 101331,
 101479,
 101648,
 101752,
 101943,
 102437,
 102518,
 103164,
 103312,
 103332,
 103609,
 103616,
 104343,
 104783,
 105706,
 106513,
 106699,
 107018,
 107367,
 107662,
 107947,
 108412,
 108849,
 109200,
 109608,
 110253,
 110589,
 111205,
 111987,
 111995,
 112242,
 112577,
 112921,
 113338,
 113689,
 113800,
 114036,
 114142,
 114521,
 114754,
 114833,
 115309,
 116043,
 116075,
 116366,
 117031,
 117206,
 117332,
 117417,
 117476,
 117616,
 117981,
 118098,
 118463,
 118505,
 118822,
 118827,
 118875,
 119300,
 119719,
 120006,
 120046,
 120306,
 120910,
 121891,
 122159,
 122404,
 122740,
 122879,
 123076,
 123435,
 123999,
 124611,
 125278,
 125793,
 126510,
 127237,
 127507,
 127758,
 128579,
 129176,
 129505,
 129901,
 130026,
 130750,
 131198,
 131335,
 131865,
 132150,
 132158,
 132605,
 133407,
 133789,
 134257,
 134321,
 135179,
 135203,
 135893,
 136239,
 136397,
 137913,
 138239,
 138278,
 138602,
 138827,
 139433,
 139570,
 139683,
 139695,
 139902,
 141047,
 141134,
 141169,
 141195,
 141469,
 141716,
 141719,
 142594,
 142769,
 142831,
 142995,
 143379,
 143748,
 143961,
 144997,
 145190,
 145340,
 145522,
 146109,
 146229,
 146255,
 146313,
 146434,
 146465,
 146655,
 146747,
 147123,
 147446,
 147640,
 147775,
 147793,
 147860,
 148050,
 148105,
 148818,
 148942,
 149704,
 150105,
 150399,
 150444,
 150641,
 150917,
 150932,
 151732,
 152014,
 152033,
 152062,
 152761,
 152853,
 152994,
 154139,
 154426,
 154511,
 154967,
 155596,
 155903,
 155933,
 156676,
 156738,
 157044,
 157050,
 157112,
 157178,
 157223,
 157532,
 157592,
 157973,
 158142,
 158259,
 158262,
 158269,
 158379,
 158526,
 158605,
 158897,
 159291,
 159931,
 160907,
 161787,
 161977,
 162065,
 162171,
 162333,
 162355,
 162997,
 163159,
 164001,
 164102,
 164309,
 165618,
 165986,
 166206,
 166655,
 166932,
 167277,
 167823,
 167834,
 168242,
 168526,
 169093,
 169866,
 169956,
 170576,
 170776,
 170885,
 171468,
 171895,
 171997,
 172278,
 172378,
 172474,
 173191,
 173667,
 173965,
 173981,
 174020,
 174327,
 175004,
 175330,
 175458,
 175701,
 175726,
 175882,
 175924,
 175965,
 176270,
 177037,
 177905,
 177935,
 177997,
 178226,
 179131,
 179673,
 179700,
 180631,
 180648,
 180714,
 180745,
 181082,
 181765,
 182596,
 182714,
 183285,
 183295,
 183383,
 183666,
 184187,
 184199,
 184232,
 184568,
 184709,
 185561,
 186168,
 186222,
 186228,
 186564,
 186605,
 186700,
 186753,
 187019,
 187020,
 187225,
 187874,
 188055,
 188446,
 188629,
 188731,
 188799,
 189337,
 189392,
 190062,
 190974,
 191182,
 192062,
 192235,
 192395,
 192474,
 192618,
 192756,
 192764,
 194007,
 194134,
 194411,
 194528,
 195019,
 195097,
 195537,
 195619,
 196283,
 196871,
 197184,
 197371,
 197419,
 197532,
 197933,
 198176,
 198218,
 198400,
 198888,
 198893,
 199145,
 199212,
 199678,
 199694,
 200200,
 200392,
 200797,
 200868,
 201108,
 201400,
 201542,
 201773,
 202071,
 202194,
 202343,
 202369,
 202461,
 202777,
 202862,
 203115,
 203177,
 203349,
 203483,
 203712,
 204081,
 204175,
 204814,
 204988,
 205231,
 206292,
 206405,
 206818,
 206879,
 207316,
 207605,
 208117,
 208326,
 208659,
 208865,
 209097,
 209190,
 210611,
 211264,
 211331,
 211775,
 211779,
 212007,
 212312,
 212797,
 212837,
 213055,
 213483,
 213743,
 214369,
 214491,
 215217,
 215697,
 215787,
 215837,
 216184,
 216489,
 216881,
 217421,
 218028,
 218461,
 219353,
 220419,
 221426,
 221952,
 222202,
 222204,
 222292,
 222766,
 223150,
 223191,
 223493,
 223592,
 224915,
 224949,
 225223,
 225517,
 225641,
 225931,
 226307,
 227875,
 228240,
 228317,
 228426,
 229000,
 229088,
 229152,
 229185,
 229557,
 229812,
 230360,
 230392,
 230715,
 230749,
 231212,
 231538,
 231636,
 231703,
 232338,
 232507,
 232636,
 232713,
 232772,
 232992,
 233142,
 233312,
 233733,
 233914,
 234170,
 234603,
 234741,
 235457,
 235500,
 235782,
 235801,
 235910,
 236102,
 236308,
 236370,
 237271,
 237570,
 237888,
 238700,
 238722,
 238782,
 238801,
 238913,
 239769,
 240351,
 240415,
 241142,
 241570,
 241884,
 242025,
 243366,
 243416,
 243948,
 244010,
 244445,
 244448,
 244770,
 245172,
 245531,
 245646,
 246229,
 246559,
 246580,
 247386,
 247719,
 247830,
 248096,
 248175,
 249141,
 249485,
 249726,
 250693,
 251397,
 251487,
 251896,
 252120,
 252361,
 252642,
 252786,
 254136,
 254257,
 254431,
 254569,
 254767,
 254920,
 255250,
 255665,
 256608,
 256718,
 256947,
 257007,
 257094,
 257576,
 257999,
 258006,
 258564,
 258660,
 258717,
 259679,
 259687,
 260252,
 260611,
 260673,
 260731,
 261078,
 261831,
 261975,
 262125,
 262306,
 262364,
 263094,
 263728,
 264150,
 264284,
 264343,
 264838,
 264848,
 264915,
 264923,
 265134,
 265175,
 265833,
 266067,
 266230,
 266399,
 266454,
 266700,
 266792,
 266868,
 267601,
 267845,
 268077,
 268416,
 269220,
 269378,
 269389,
 269781,
 270206,
 270938,
 271542,
 271972,
 272103,
 272399,
 272460,
 274396,
 274410,
 274521,
 274837,
 274869,
 275025,
 275081,
 275570,
 276246,
 276283,
 276724,
 276788,
 277759,
 278011,
 278358,
 278546,
 279620,
 279750,
 280117,
 280164,
 280539,
 281484,
 281749,
 281750,
 281936,
 282016,
 283358,
 284266,
 284437,
 284882,
 285048,
 286531,
 286978,
 287096,
 287437,
 287968,
 288105,
 288603,
 288824,
 288828,
 289301,
 290218,
 291273,
 291326,
 291742,
 292215,
 292277,
 292380,
 292596,
 292873,
 293122,
 293652,
 293848,
 293894,
 294129,
 294214,
 294353,
 294729,
 295036,
 295340,
 295427,
 295767,
 296371,
 296377,
 296822,
 296846,
 297347,
 297360,
 298009,
 298528,
 298873,
 298945,
 299045,
 299995,
 300621,
 300623,
 300692,
 301508,
 301604,
 301722,
 302031,
 302328,
 302598,
 303570,
 303837,
 304405,
 305672,
 305798,
 306414,
 306478,
 306505,
 306884,
 307576,
 307630,
 307725,
 307727,
 307835,
 309009,
 309235,
 310409,
 311075,
 311087,
 311091,
 311732,
 311992,
 312186,
 312467,
 312823,
 312951,
 313051,
 313069,
 313763,
 314616,
 314851,
 314858,
 315251,
 315592,
 315599,
 315619,
 315635,
 315806,
 316002,
 316026,
 316485,
 316763,
 317056,
 317364,
 317538,
 317993,
 318040,
 318736,
 318905,
 318992,
 319366,
 319554,
 320038,
 320531,
 321062,
 321346,
 322222,
 322787,
 322791,
 323091,
 323382,
 ...]

In [27]:
# We discard all clusters with less than 2 entries, cause we cannot match anything there, so 1,6 million clusters remain
df_set_clothes=df_set_clothes[df_set_clothes['Amount']>1]
df_set_clothes

        cluster_id  Amount
0              560       2
1             1507       3
2             2420       3
3             2523       2
4             2663       3
...            ...     ...
105590    80424345       2
105604    80438085       2
105623    80472255       4
105624    80472257       4
105631    80478117       3

[12666 rows x 2 columns]

In [28]:
df_10_clothes=df_set_clothes[df_set_clothes['Amount']>10]
df_10_clothes

        cluster_id  Amount
11            5310      11
183          58043      12
246          79412      15
279          90549      12
319         102437      14
...            ...     ...
79674     58592784      19
88341     65475235      11
92112     68554513      13
103333    78110534      13
103701    78499693      16

[105 rows x 2 columns]

In [29]:
#merge brand name to cluster amount
df_cluster_brand_clothes = df_10_clothes[df_10_clothes['Amount']<400].merge(df_joined_clothes.dropna()[['cluster_id','brand']].drop_duplicates('cluster_id', keep='last'), left_on=['cluster_id'], right_on = ['cluster_id'], how='left')
df_cluster_brand_clothes

     cluster_id  Amount            brand
0          5310      11           armani
1         58043      12         burberry
2         79412      15           adidas
3         90549      12    louis vuitton
4        102437      14           chanel
..          ...     ...              ...
100    58592784      19             nike
101    65475235      11             nike
102    68554513      13             nike
103    78110534      13  dolce & gabbana
104    78499693      16  dolce & gabbana

[105 rows x 3 columns]

In [30]:
#get the top clusters per brand
df_top_clusters_clothes = df_cluster_brand_clothes.sort_values(['Amount'], ascending=False).drop_duplicates(subset=["brand"], keep="first")
df_top_clusters_clothes

    cluster_id  Amount            brand
84     5672069     289            gucci
27      527917     110           chanel
62     1524820      95            prada
67     2132296      61   the north face
24      434734      53           adidas
71     2434654      46    louis vuitton
83     3324035      40           oakley
98    58083280      24             nike
78     2825229      24     calvin klein
47      944406      18  dolce & gabbana
28      531122      17        patagonia
70     2395583      16           armani
88    22374915      16             puma
93    44159446      16     michael kors
49     1036157      15         burberry
66     1970366      14             dior

In [31]:
df_joined_clothes[(df_joined_clothes['cluster_id']==22374915)]

,cluster_id,url,row_id,table_id,Valid,brand
1126480,22374915,https://06.aplikasionlineshop.com/index.php/product/unero-military-classical-backpack,14,Product_aplikasionlineshop.com_September2020.json.gz,1,None
2128782,22374915,https://pensalo.com/product/unero-military-classical-backpack,16,Product_pensalo.com_September2020.json.gz,1,None
5574153,22374915,https://nelau.com/?product=unero-military-classical-backpack,14,Product_nelau.com_September2020.json.gz,1,None
5848416,22374915,https://pcmundo.com.mx/producto/panasonic-invertr-900l-refrigerator,70,Product_pcmundo.com.mx_September2020.json.gz,1,None
6191685,22374915,https://ebonth.com/product/unero-military-classical-backpack,24,Product_ebonth.com_September2020.json.gz,1,None
6994438,22374915,https://winnershopbd.com/product/unero-military-classical-backpack,22,Product_winnershopbd.com_September2020.json.gz,1,None
8350514,22374915,https://ikotaonline.com/product/unero-military-classical-backpack,15,Product_ikotaonline.com_September2020.json.gz,1,None
8765168,22374915,https://grixbase.com/product/graco-slim-snacker-high-chair-whisk,26,Product_grixbase.com_September2020.json.gz,1,None
9447506,22374915,https://www.digitalshopup.com/product/unero-military-classical-backpack,6,Product_digitalshopup.com_September2020.json.gz,1,None
10271721,22374915,https://ktrworld.com/product/unero-military-classical-backpack,78,Product_ktrworld.com_September2020.json.gz,1,None
11773220,22374915,https://aventuradiner.com/shop/international-foods/unero-military-classical-backpack,93,Product_aventuradiner.com_September2020.json.gz,1,None
18679974,22374915,https://05.aplikasionlineshop.com/index.php/product/unero-military-classical-backpack,47,Product_aplikasionlineshop.com_September2020.json.gz,1,None
18961276,22374915,https://apkgood.com/product/graco-slim-snacker-high-chair-whisk,25,Product_apkgood.com_September2020.json.gz,1,None
19633516,22374915,https://7bucket.com/product/unero-military-classical-backpack,22,Product_7bucket.com_September2020.json.gz,1,None
20513728,22374915,https://buttfittings.com/product/unero-military-classical-backpack,19,Product_buttfittings.com_September2020.json.gz,1,None
21016790,22374915,https://meerab-industries.com/puma-polo-shirts-mens-clothing-wholesale,17,Product_meerab-industries.com_September2020.json.gz,1,puma

In [33]:
#get a new column with the product names from the url
df_joined_clothes['product_name'] = df_joined_clothes['url'].apply(lambda row: row.split("/")[-1])

In [34]:
df_joined_clothes

,cluster_id,url,row_id,table_id,Valid,brand,product_name
0,59178314,https://www.cultureindoor.com/796-irrigation-arrosage-tuyau-pe-20mm-semi-rigide-rouleau-100m.html,1561,Product_cultureindoor.com_September2020.json.gz,1,None,796-irrigation-arrosage-tuyau-pe-20mm-semi-rigide-rouleau-100m.html
1,70692685,https://www.culturekings.com/products/new-era-new-era-new-orleans-pelicans-nba-940-a-frame-snapback-black,3893,Product_culturekings.com_September2020.json.gz,1,None,new-era-new-era-new-orleans-pelicans-nba-940-a-frame-snapback-black
2,395606,https://www.culturekings.com/products/new-era-x-nrl-west-tigers-aframe-charcoal-orange,3894,Product_culturekings.com_September2020.json.gz,1,None,new-era-x-nrl-west-tigers-aframe-charcoal-orange
3,3361797,https://www.customizedgirl.com/design/2605608/The+Real+Baseball+Moms,9318,Product_customizedgirl.com_September2020.json.gz,1,None,The+Real+Baseball+Moms
4,235755,https://www.customizedgirl.com/design/2613423/Mentally+Dating+Ronaldo,9319,Product_customizedgirl.com_September2020.json.gz,1,None,Mentally+Dating+Ronaldo
...,...,...,...,...,...,...,...
24687502,8653717,https://shop-list.com/women/utuwa-tatara/sg3232-03,1620,Product_shop-list.com_September2020.json.gz,1,None,sg3232-03
24687503,22258637,https://shop-list.com/women/youmotto/famille-ltm,1621,Product_shop-list.com_September2020.json.gz,1,None,famille-ltm
24687504,41434658,https://shop.agwaycapecod.com/products/019014710959/adult-small-breed-dog-food-5-lb,126,Product_agwaycapecod.com_September2020.json.gz,1,None,adult-small-breed-dog-food-5-lb
24687505,62702145,https://shop.agwaycapecod.com/products/037321455042/ant-killer-dust-3-lbs,127,Product_agwaycapecod.com_September2020.json.gz,1,None,ant-killer-dust-3-lbs
24687506,60936713,https://shop.areefcreation.com/products/ls-apr-344b,120,Product_areefcreation.com_September2020.json.gz,1,None,ls-apr-344b

In [233]:
#get a new column with the product names from the url
df_joined_clothes['product_name'] = df_joined_clothes['url'].apply(lambda row: row.split("/")[-1])
#clean product column and lowercase
df_joined_clothes['product_name'] = df_joined_clothes['product_name'].str.replace('+',' ').str.replace('-',' ').str.replace('.html', '').apply(lambda row: row.lower())
df_joined_clothes
#get only cluster ids with at least one brand electronics
df_compare_clothes = df_joined_clothes[df_joined_clothes['cluster_id'].isin(df_set_clothes['cluster_id'].tolist())]
#merge with set to get amount of tables per cluster in overview
df_compare_clothes = df_compare_clothes.merge(df_set_clothes, left_on=['cluster_id'], right_on = ['cluster_id'], how='left')

<ipython-input-233-61836088f80e>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_joined_clothes['product_name'] = df_joined_clothes['product_name'].str.replace('+',' ').str.replace('-',' ').str.replace('.html', '').apply(lambda row: row.lower())
<ipython-input-233-61836088f80e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_joined_clothes['product_name'] = df_joined_clothes['product_name'].str.replace('+',' ').str.replace('-',' ').str.replace('.html', '').apply(lambda row: row.lower())

In [234]:
#use tokenizer for product names to get tokes for training the model
df_compare_clothes['product_tokes'] = df_compare_clothes['product_name'].apply(lambda row: word_tokenize(row))
#get tagged words
tagged_data = [TaggedDocument(words=_d, tags=[str(i)]) for i, _d in enumerate(df_compare_clothes['product_tokes'])]
# build model and vocabulary
model = Doc2Vec(vector_size=50, min_count = 5, epochs = 25, dm = 0)
model.build_vocab(tagged_data)
# Train model
model.train(tagged_data, total_examples=model.corpus_count, epochs=25)

In [301]:
df_joined_clothes[df_joined_clothes['cluster_id']==78110534]

,cluster_id,url,row_id,table_id,Valid,brand,product_name
15925,78110534,https://www.cn.forzieri.com/chn/product_view.asp?l=chn&c=chn&dept_id=18&sku=dg130320-027-00,3400,Product_forzieri.com_September2020.json.gz,1,None,product_view.asp?l=chn&c=chn&dept_id=18&sku=dg130320 027 00
345143,78110534,https://www.be.forzieri.com/sacs-a-main/dolce-gabbana/dg130320-027-00,462,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
873827,78110534,https://www.kr.forzieri.com/kor/product_view.asp?l=kor&c=kor&dept_id=18&sku=dg130320-027-00,2191,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,product_view.asp?l=kor&c=kor&dept_id=18&sku=dg130320 027 00
3926168,78110534,https://www.se.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,1686,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
4659026,78110534,https://www.eu.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,445,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
7183796,78110534,https://www.uk.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,2108,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
17638900,78110534,https://www.ch.forzieri.com/handtaschen/dolce-gabbana/dg130320-027-00,8,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
19486553,78110534,https://www.ca.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,235,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
19839038,78110534,https://www.no.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,3010,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
20277399,78110534,https://www.sa.forzieri.com/esp/product_view.asp?l=esp&c=usa&dept_id=18&sku=dg130320-027-00,1076,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,product_view.asp?l=esp&c=usa&dept_id=18&sku=dg130320 027 00
20658736,78110534,https://www.au.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,3468,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00
21893970,78110534,https://www.jp.forzieri.com/jpn/product_view.asp?l=jpn&c=jpn&dept_id=18&sku=dg130320-027-00,1471,Product_forzieri.com_September2020.json.gz,1,None,product_view.asp?l=jpn&c=jpn&dept_id=18&sku=dg130320 027 00
22985322,78110534,https://www.dk.forzieri.com/handbags/dolce-gabbana/dg130320-027-00,2157,Product_forzieri.com_September2020.json.gz,1,dolce & gabbana,dg130320 027 00

In [302]:
#get cluster ids and with that indices of top products to use model
top_clusters_list = [5310, 58043,104343,142594,174327, 186753,421372,677207,834201, 881202,  895708,939889, 1249086,1290229, 1852022,2459966, 2732926 , 22374915, 22374918, 26097914,44159446, 58592784, 78110534   ]
index_top_clusters_list=[]
for id in top_clusters_list:
    index_top_clusters_list.append(df_compare_clothes[df_compare_clothes['cluster_id']==id].index[0])

In [309]:
# get most similar products for each of the base clusters and save them if they have more than ten tables
clothes_clusters_search=[]
for i in index_top_clusters_list:
    similar_doc = model.docvecs.most_similar(f'{i}', topn = 15)
    clothes_clusters_search.append(int(i))
    for index, similarity in similar_doc:
        if df_compare_clothes.iloc[int(index)]['Amount']>5:
            clothes_clusters_search.append(int(index))
df_clothes_final = df_compare_clothes.iloc[clothes_clusters_search]

<ipython-input-309-b837bfa1a69a>:4: DeprecationWarning: Call to deprecated `docvecs` (The `docvecs` property has been renamed `dv`.).
  similar_doc = model.docvecs.most_similar(f'{i}', topn = 15)

In [310]:
df_clothes_final.drop_duplicates('cluster_id', keep='first').to_excel("Final_Clothes.xlsx")